# Ignore Python bytecode files
__pycache__

# Ignore local development settings
**/*.sqlite3
*.pyc
*.pyo
*.pyd

**/.env

# Ignore the virtual environment
**/venv/

# Ignore logs and other temporary files
*.log
*.pot
*.db
*.sqlite3
*.db-journal
*.pytz
