
# comma-separated list of hosts/domain names that this Django site can serve
ALLOWED_HOSTS=localhost
# case-insentitive boolean that determines whether the site is in debug mode
DEBUG=True
SECRET_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=transcendence
# POSTGRES_HOST is optional, by default it's postgres
POSTGRES_HOST=localhost

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=admin@neon-pong.com

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

CLIENT_ID=
CLIENT_SECRET=

BASE_URL=https://neon-pong.com

# The number of most recent refresh tokens to store in memory to check for reuse
REFRESH_TOKEN_HISTORY_SIZE=5
ACCESS_TOKEN_EXPIRATION_MINUTES=60
REFRESH_TOKEN_EXPIRATION_HOURS=24

REDIS_HOST=redis-service