
# comma-separated list of hosts/domain names that this Django site can serve
ALLOWED_HOSTS=localhost
# case-insentitive boolean that determines whether the site is in debug mode
DEBUG=True
SECRET_KEY=django-insecure-l1+lk$-k$l@m@un^guho24gwdr%&ha1y4nx*+*^lfh^&%$nov=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=transcendence
# POSTGRES_HOST is optional, by default it's postgres
POSTGRES_HOST=localhost

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@neon-pong.com

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=