# Backend settings
DJANGO_SUPERUSER_USERNAME=user
DJANGO_SUPERUSER_PASSWORD=pass
DJANGO_SUPERUSER_EMAIL=a@example.com
DEBUG=True
SECRET_KEY=django-insecure-l1+lk$-k$l@m@un^guho24gwdr%&ha1y4nx*+*^lfh^&%$nov=
# comma-separated list of hosts/domain names that this Django site can serve. Should include the domain name of the site
ALLOWED_HOSTS=localhost


# Domain settings
DOMAIN=neon-pong.com
DJANGO_ADMIN_DOMAIN=django.neon-pong.com

# Database settings
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=database