# Ignore Python bytecode files
__pycache__

# Ignore local development settings
*.sqlite3
*.pyc
*.pyo
*.pyd

# Ignore the virtual environment
venv/

# Ignore logs and other temporary files
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.db-journal
*.pytz

# Ignore media and static files (served by a web server in production)
media/
static/
