

.gold-text {
	text-align: center;
	font-size: 24px;
	font-family: var(--font-neon), serif;
	letter-spacing: 5px;
	color: #ffd43b;
	text-shadow: 0 0 5px #ffd43b, 0 0 10px #ffd43b, 0 0 15px #ffd43b, 0 0 20px #ff6600, 0 0 25px #ff6600;
}

/* From Uiverse.io by csemszepp */
.custom-file-upload {
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
    margin: 25px auto;
}

.custom-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-upload .text span {
  font-weight: 400;
  color: #e8e8e8;
}

.custom-file-upload input {
  display: none;
}