
.profile-picture {
    max-width: 150px;
    max-height: 150px;
}

h3 {
	text-align: center;
	font-size: 20px;
	font-family: var(--font-neon), serif;
	letter-spacing: 5px;
	color: #ffd43b;
	text-shadow: 0 0 5px #ffd43b, 0 0 10px #ffd43b, 0 0 15px #ffd43b, 0 0 20px #ff6600, 0 0 25px #ff6600;
}

h1 {
	text-align: center;
	font-size: 24px;
	font-family: var(--font-neon), serif;
	letter-spacing: 5px;
	color: #ffd43b;
	text-shadow: 0 0 5px #ffd43b, 0 0 10px #ffd43b, 0 0 15px #ffd43b, 0 0 20px #ff6600, 0 0 25px #ff6600;
}

