*, *::after, *::before {
  box-sizing: border-box;
}

:root{
    --hue: 250;
    --sat: 50%;
    --foreground: hsl(var(--hue), var(--sat), 80%);
    --background: hsl(var(--hue), var(--sat), 25%);
    --clr-one: rgb(255, 20, 147);
    --clr-two: rgb(0, 255, 247);
    --clr-three: rgb(255, 255, 0);
    --paddle1_height: 10vh;
    --paddle2_height: 10vh;
}

body {
    margin: 0;
    background-color: var(--background);
    overflow: hidden;
}

.paddle {
    --pos: 50;

    position: absolute;
    background-color: var(--foreground);
    width: 1vh;
    height: 10vh;
    top: calc(var(--pos) * 1px);
    transform: translateY(-50%);
}

.paddle.left {
    box-shadow: inset 0 0 0.2em 0 var(--clr-one), 0 0 0.8em 0 var(--clr-one);
    height: var(--paddle1_height);
    left: 1vw;
}

.paddle.right {
    box-shadow: inset 0 0 0.2em 0 var(--clr-two), 0 0 0.8em 0 var(--clr-two);
    height: var(--paddle2_height);
    right: 1vw;
}

.ball {
    --pos-x: 50;
    --pos-y: 50;

    position: absolute;
    background-color: var(--foreground);
    box-shadow: inset 0 0 0.2em 0 var(--clr-three), 0 0 0.8em 0 var(--clr-three);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    top: calc(var(--pos-y) * 1vh);
    left: calc(var(--pos-x) * 1vw);
    transform: translate(-50%, -50%);
}

.score{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground);
    text-shadow: 0 0 0.2em hsl(0 0 100% / 0.3), 0 0 0.8em var(--clr-one);
}

.score > *{
    flex-grow : 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: 0.5;
}

.score > *:first-child{
    border-right: .5vh solid var(--foreground);
    text-align: right;
}
