

#root {
    --glow-color-red: rgb(255, 147, 115);
    --glow-spread-color-red: rgb(255, 44, 44);
    --btn-color-red: rgb(119, 0, 0);
    --glow-color-green: rgb(115, 255, 134);
    --glow-spread-color-green: rgb(65, 255, 44);
    --btn-color-green: rgb(0, 119, 2);
    --glow-color-blue: rgb(115, 148, 255);
    --glow-spread-color-blue: rgb(44, 142, 255);
    --btn-color-blue: rgb(0, 38, 119);
}


.red-button {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 20%;
    border: .25em solid var(--glow-color-red);
    padding: 1em 3em;
    color: var(--glow-color-red);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color-red);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color-red),
        0 0 4em 1em var(--glow-spread-color-red),
        inset 0 0 .75em .25em var(--glow-color-red);
    text-shadow: 0 0 .5em var(--glow-color-red);
    position: relative;
    transition: all 0.3s;
}

.red-button:hover {
    color: var(--btn-color-red);
    background-color: var(--glow-color-red);
    box-shadow: 0 0 1em .25em var(--glow-color-red),
        0 0 4em 2em var(--glow-spread-color-red),
        inset 0 0 .75em .25em var(--glow-color-red);
}

.red-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color-red),
        0 0 2.5em 2em var(--glow-spread-color-red),
        inset 0 0 .5em .25em var(--glow-color-red);
}


.green-button {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 20%;
    border: .25em solid var(--glow-color-green);
    padding: 1em 3em;
    color: var(--glow-color-green);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color-green);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color-green),
        0 0 4em 1em var(--glow-spread-color-green),
        inset 0 0 .75em .25em var(--glow-color-green);
    text-shadow: 0 0 .5em var(--glow-color-green);
    position: relative;
    transition: all 0.3s;
}

.green-button:hover {
    color: var(--btn-color-green);
    background-color: var(--glow-color-green);
    box-shadow: 0 0 1em .25em var(--glow-color-green),
        0 0 4em 2em var(--glow-spread-color-green),
        inset 0 0 .75em .25em var(--glow-color-green);
}

.green-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color-green),
        0 0 2.5em 2em var(--glow-spread-color-green),
        inset 0 0 .5em .25em var(--glow-color-green);
}


.blue-button {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 20%;
    border: .25em solid var(--glow-color-blue);
    padding: 1em 3em;
    color: var(--glow-color-blue);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color-blue);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color-blue),
        0 0 4em 1em var(--glow-spread-color-blue),
        inset 0 0 .75em .25em var(--glow-color-blue);
    text-shadow: 0 0 .5em var(--glow-color-blue);
    position: relative;
    transition: all 0.3s;
}

.blue-button:hover {
    color: var(--btn-color-blue);
    background-color: var(--glow-color-blue);
    box-shadow: 0 0 1em .25em var(--glow-color-blue),
        0 0 4em 2em var(--glow-spread-color-blue),
        inset 0 0 .75em .25em var(--glow-color-blue);
}

.blue-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color-blue),
        0 0 2.5em 2em var(--glow-spread-color-blue),
        inset 0 0 .5em .25em var(--glow-color-blue);
}
