#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
}

#footer {
	background: lightgrey;
	width: 100%;
	text-align: center;
}

#header {
	background: lightgrey;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
	flex-direction: column;
}

html {
	height: 100%;
}
