@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

:root {
	--bg-dark: #23272f;
	--bg-light: #e8e8e8;
	--font-neon: "Tilt Neon", sans-serif;
}

:root {
    --glow-color-red: rgb(255, 147, 115);
    --glow-spread-color-red: rgb(255, 44, 44);
    --btn-color-red: rgb(119, 0, 0);
    --glow-color-green: rgb(115, 255, 134);
    --glow-spread-color-green: rgb(65, 255, 44);
    --btn-color-green: rgb(0, 119, 2);
    --glow-color-blue: rgb(115, 148, 255);
    --glow-spread-color-blue: rgb(44, 142, 255);
    --btn-color-blue: rgb(0, 38, 119);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--bg-dark) !important;
	font-family: var(--font-neon) !important;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
}

#footer {
	display: none; /* test */
	background: lightgrey;
	width: 100%;
	text-align: center;
}

/* ------------------------------------------------------------------- HEADER */
#header {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 !important;
}

ul {
	list-style: none;
	margin: 0;
	background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
	box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0),
		0px 0px 100px rgba(255, 102, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.75rem !important;
	border-radius: 10px;
}

li:nth-child(5) {
	margin-top: 5rem;
	padding-top: 1.25rem;
	border-top: 1px solid transparent;
}

li + li {
	margin-top: 0.75rem;
}

.buttonNav {
	background-color: transparent;
	color: #ffffff80;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 8px;
	position: relative;
}

.buttonNav:hover,
.buttonNav:focus {
	background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
	box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #383e4b;
	outline: 0;
}

.buttonNav:hover span,
.buttonNav:focus span {
	transform: scale(1);
	opacity: 1;
}

.buttonNav i {
	font-size: 1.375rem;
}

.buttonNav span {
	position: absolute;
	background-color: #14161a;
	white-space: nowrap;
	padding: 0.5rem 1rem;
	border-radius: 6px;
	left: calc(100% + 1.5rem);
	transform-origin: center left;
	transform: scale(0);
	opacity: 0;
	transition: 0.15s ease;
	color: #fff;
}

.buttonNav span:before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #14161a;
	left: -5px;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	border-radius: 3px;
}

/* ---------------------------------------------------------- HEADER LANGUAGE */
.language {
	position: absolute;
	top: 200px;
	left: 75px;
	background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
	width: 150px;
	height: 140px;
	border-radius: 10px;
	color: #ffffff80;
	box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0),
		0px 0px 100px rgba(255, 102, 0, 0);
	padding: 30px 20px;
	display: grid;
	grid-template-columns: auto 20px;
	align-items: center;
	display: none;
}

.language label {
	cursor: pointer;
}

.language input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	height: 20px;
	width: 20px;
	outline: none;
	margin: 0;
	cursor: pointer;
	border: 2px solid #ffffff80;
	background: transparent;
	border-radius: 50%;
	overflow: hidden;
	transition: border 0.5s ease;
}

/* ------------------------------------------------------------------- LOADER */
.loader {
	width: 100px;
	height: 100px;
	animation: spinner-y0fdc1 2s infinite ease;
	transform-style: preserve-3d;
 }

 .loader > div {
	background-color: rgba(0,77,255,0.2);
	height: 100%;
	position: absolute;
	width: 100%;
	border: 2px solid #004dff;
 }

 .loader div:nth-of-type(1) {
	transform: translateZ(-50px) rotateY(180deg);
 }

 .loader div:nth-of-type(2) {
	transform: rotateY(-270deg) translateX(50%);
	transform-origin: top right;
 }

 .loader div:nth-of-type(3) {
	transform: rotateY(270deg) translateX(-50%);
	transform-origin: center left;
 }

 .loader div:nth-of-type(4) {
	transform: rotateX(90deg) translateY(-50%);
	transform-origin: top center;
 }

 .loader div:nth-of-type(5) {
	transform: rotateX(-90deg) translateY(50%);
	transform-origin: bottom center;
 }

 .loader div:nth-of-type(6) {
	transform: translateZ(50px);
 }

 @keyframes spinner-y0fdc1 {
	0% {
	 transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
	}

	50% {
	 transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
	}

	100% {
	 transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
	}
 }

.btn {
	width: 20%;
	padding: 1em 3em;
	margin-bottom: 50px;
	text-transform: uppercase;
	border-radius: 8px;
	font-size: 17px;
	font-weight: 500;
	color: #ffffff80;
	background: var(--bg-dark);
	user-select: none;
}

.btn1{
	text-shadow: 0 0.0625em 0 #000;
	box-shadow: inset 0 0.0625em 0 0 #3a3a3a, 0 0.0625em 0 0 #252525, 0 0.125em 0 0 #202020, 0 0.25em 0 0 #1c1c1c,
		0 0.3125em 0 0 #181818, 0 0.375em 0 0 #141414, 0 0.425em 0 0 #101010, 0 0.425em 0.5em 0 #0a0a0a;
	transition: 0.5s ease;
	user-select: none;
}

.btn1:hover,
:focus {
	color: #fff;
	background: #008cff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
	box-shadow: 0 0 5px #008cff, 0 0 20px #010202, 0 0 50px #008cff, 0 0 100px #008cff;
	border-color: transparent;
}

.btn2 {
	text-shadow: 0 0.0625em 0 #000;
	box-shadow: inset 0 0.0625em 0 0 #3a3a3a, 0 0.0625em 0 0 #252525, 0 0.125em 0 0 #202020, 0 0.25em 0 0 #1c1c1c,
		0 0.3125em 0 0 #181818, 0 0.375em 0 0 #141414, 0 0.425em 0 0 #101010, 0 0.425em 0.5em 0 #0a0a0a;
	transition: 0.5s ease;
	user-select: none;
}

.btn2:hover,
:focus {
	color: #fff;
	background: #ffd43b;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
	box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5), inset 0px 0px 10px rgba(255, 212, 59, 0.5),
		0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5);
	border-color: transparent;
}

.btn:active {
	translate: 0 0.225em;
}
