
#pvp {
    display: flex;
    width: 26.14vw;
    height: 19.43vh;
    flex-direction: column;
    gap: 6vh;
    align-items: center;
    justify-content: center;
}

#pvp .player-display {
    display: flex;
    width: 26.14vw;
    height: 19.43vh;
    flex-direction: column;
    gap: 1vh;
}

#pvp .player-button {
    height: 9.66vh;
}

#pvp .vs {
    color: var(--accent-color);
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}