@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

:root {
	--bg-dark: #23272f;
	--bg-light: #e8e8e8;
	--font-neon: "Tilt Neon", sans-serif;

	--neon-1: linear-gradient(#e300ff, #ff00aa, #ff5956, #ffb900, #fffe00);
	--neon-1-s: linear-gradient(
		rgba(225, 0, 255, 0.5),
		rgba(255, 0, 212, 0.5),
		rgba(255, 174, 0, 0.5),
		rgba(255, 230, 0, 0.5)
	);
	--neon-2: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
	--blue-neon-1: #00b7ff;
	--blue-neon-2: #008cff;
}

/* CONTAINER */
.sign-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 65px 50px;
	border-radius: 15px;
	overflow: hidden;
	position: relative;

}

.sign-input::before {
	content: "";
	position: absolute;
	width: 100px;
	background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
	box-shadow: inset 0px 0px 10px rgba(0, 183, 255, 0.5), inset 0px 0px 10px rgba(255, 48, 255, 0.5),
		0px 0px 100px rgba(255, 48, 255, 0.5), 0px 0px 100px rgba(0, 183, 255, 0.5);
	height: 130%;
	animation: rotBGimg 3s linear infinite;
	transition: all 0.2s linear;
	z-index: -1;
}

.sign-input::after {
	content: "";
	position: absolute;
	background-color: var(--bg-dark);
	box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0),
		0px 0px 100px rgba(255, 102, 0, 0);
	inset: 5px;
	border-radius: 15px;
	z-index: -1;
}

/* INPUT */
.input-container {
	width: 100%;
	box-sizing: border-box;
}

.input-container input {
	width: 100%;
	border-radius: 0.8rem;
	background: #23272f;
	box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0),
		0px 0px 100px rgba(255, 102, 0, 0);
	flex-basis: 100%;
	padding: 1rem;
	border: none;
	border: 1px solid transparent;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.input-container label {
	position: relative;
	top: -35px;
	left: 20px;
	color: #ffffff80;
	font-size: 12px;
	transition: all 0.3s ease;
	pointer-events: none;
	transition: all 0.3s ease;
	z-index: 1;
}

.input-container input:focus {
	border: 1px solid #e300ff;
	outline: none;
	box-shadow: inset 0px 0px 10px rgba(255, 0, 212, 0.5), inset 0px 0px 10px rgba(225, 0, 255, 0.5),
		0px 0px 100px rgba(225, 0, 255, 0.5), 0px 0px 100px rgba(255, 0, 212, 0.5);
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {

	top: -80px;
	color: #e300ff;
	text-shadow: 0 0 5px #e300ff, 0 0 10px #e300ff, 0 0 15px #e300ff, 0 0 20px #ff00aa, 0 0 25px #ff00aa;
}

/* BUTTON */
.btn {
	width: 100%;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 8px;
	font-size: 17px;
	font-weight: 500;
	color: #ffffff80;
	text-shadow: 0 0.0625em 0 #000;
	box-shadow: inset 0 0.0625em 0 0 #3a3a3a, 0 0.0625em 0 0 #252525, 0 0.125em 0 0 #202020, 0 0.25em 0 0 #1c1c1c,
		0 0.3125em 0 0 #181818, 0 0.375em 0 0 #141414, 0 0.425em 0 0 #101010, 0 0.425em 0.5em 0 #0a0a0a;
	background: var(--bg-dark);
	border: 1px solid #ffffff80;
	border: 0;
	transition: 0.5s ease;
	user-select: none;
}

.btn:hover,
:focus {
	color: #fff;
	background: #008cff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
	box-shadow: 0 0 5px #008cff, 0 0 20px #010202, 0 0 50px #008cff, 0 0 100px #008cff;
	border-color: transparent;
	transform: scale(1.05);
}

.btn:active {
	translate: 0 0.225em;
}

/* KEYFRAMES */
@keyframes rotBGimg {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
