{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<div id="chat-page">
  <div id="room-list-sidebar">
    <div id="room-list">
      <h2>{% translate "Chats" %}</h2>
      <ul>
        {% for room in rooms %}
          <li class="room">
            <button class="room-button" data-room-id="{{ room.id }}">{{ room.name }}</button>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="room-inputs">
      <div id="create-room">
        <label>
          <span>{% translate "Create a room" %}:</span>
          <input type="text" id="new-room-name" placeholder="{% translate 'Room name' %}">
        </label>
        <button id="submit-create-room">{% translate "Create" %}</button>
      </div>
      <div id="join-room">
        <label>
          <span>{% translate "Join a room" %}:</span>
          <input type="text" id="join-room-code" placeholder="{% translate 'Room code' %}">
        </label>
        <button id="submit-join-room">{% translate "Join" %}</button>
      </div>
      <div id="direct-room">
        <label>
          <span>{% translate "Direct message" %}:</span>
          <input type="text" id="direct-room-username" placeholder="{% translate 'Username' %}">
        </label>
        <button id="submit-direct-room">{% translate "Join" %}</button>
      </div>
    </div>
  </div>
  <div id="current-room"></div>
</div>