{% load i18n %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/friendlist.css' %}">

<div class="row h-100">
  <div class="col-3"></div>
  <div class="col-6 align-content-center">
    <h1 class="text-center mb-5">{% translate "Friends" %}</h1>
    <div class="row">
      {% for friend in friends %}
      <div class="col-4 text-center text-nowrap mb-4">
        <img class="cursor-pointer profile-picture col-12" src="{{ friend.user.avatar.url }}" alt="friend avatar" onclick="window.global.pageManager.load('user', true, { query: 'id={{ friend.user.id }}' })">
        <h3 class="cursor-pointer col-12" onclick="window.global.pageManager.load('user', true, { query: 'id={{ friend.user.id }}' })">{{ friend.user.username }}</h3>
        <button class="neon-button neon-button1 btn col-12" id="{{ friend.id }}">
          {% translate "Remove friend" %}
        </button>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-3"></div>
</div>