{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<button role="button" class="btn btn1" onclick="window.global.pageManager.load('pong/game')">
  {% translate "Local Game" %}
</button>
<button role="button" class="btn btn2" onclick="window.global.pageManager.load('pong/3dGame')">
  {% translate "Remote 3D Game" %}
</button>

<button role="button" class="btn btn1" onclick="window.global.pageManager.load('pong/tournament')">
  {% translate "Tournament" %}
</button>
