{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<button role="button" class="red-button" onclick="window.global.pageManager.load('pong/game')">
  <span class="golden-text">{% translate "Local Game" %}</span>
</button>
<button role="button" class="green-button" onclick="window.global.pageManager.load('pong/3dGame')">
  <span class="golden-text">{% translate "Remote 3D Game" %}</span>
</button>

<button role="button" class="blue-button" onclick="window.global.pageManager.load('pong/tournament')">
  <span class="golden-text">{% translate "Tournament" %}</span>
</button>
