{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>
  <title>NeonPong</title>
</head>
<body>

<nav>
  <!-- Left-aligned item -->
  <button onclick="window.global.pageManager.load('settings')">
    settingss
  </button>

  <!-- Center-aligned item -->
  <button class="neon-pong button" onclick="window.global.pageManager.load('home')">
    NEON PONG
  </button>

  <button onclick="window.global.pageManager.load('chat')">
    chat
  </button>
  <button onclick="window.global.logout()">
    logout
  </button>
  <!-- Right-aligned item -->
  <button onclick="window.global.pageManager.load('me')">
    profile
  </button>
</nav>

<main id="root"></main>

<footer class="footer">
</footer>
<script type="module">
    import {Global} from "../static/js/global.js";
    window.global = new Global();
    window.onload = () => window.global.pageManager.load("{{ page }}" || "home");
</script>
<script src='{% static "js/page-manager.js" %}' type="module"></script>
<script src='{% static "js/utils.js" %}' type="module"></script>
<script src='{% static "js/game.js" %}' type="module"></script>
<script src='{% static "js/2fa.js" %}' type="module"></script>
<script src='{% static "js/login.js" %}' type="module"></script>
<script src='{% static "js/register.js" %}' type="module"></script>
<script src='{% static "js/oauth_callback.js" %}' type="module"></script>
<script src='{% static "js/me.js" %}' type="module"></script>
<script src='{% static "js/chat.js" %}' type="module"></script>
<script src='{% static "js/verify_email.js" %}' type="module"></script>

</body>
</html>
