<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="../static/css/login.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!-- <nav class="navbar">
	<div class="nav-links">
		<a href="#">Home</a>
		<a href="#">Login</a>
	</div>
</nav> -->
<div class="container">
	<form action="">
		<h1>Login</h1>
		<div class="input-box">
			<input type="text" placeholder="Username">
			<i class='bx bxs-user'></i>
		</div>
		<div class="input-box">
			<input type="password" placeholder="Password" required>
			<i class='bx bxs-lock-alt'></i>
		</div>
		<div class="remember-forgot">
			<label>
				<input type="checkbox">
				Remember Me
			</label>
			<a href="#">Forgot password?</a>
		</div>
		<input type="submit" value="Login" class="btn">

		<div class="register-link">
			<p>Don't have an Account? <a href="#">Register</a></p>
		</div>

	</form>
</div>
<!-- <div class="sobra"></div> -->
