{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">

<span id="user_id" hidden>{{ user.id }}</span>
<div class="row h-100">
  <div class="col-2"></div>
  <div class="col-6 align-content-center">
    <h1>{% translate "My Profile" %}</h1>
    <div id="profile-page" class="box">
      <span></span>
      <div class="content">
        <div class="col-4 ml-3">
          <img class="profile-picture col-12" src="{{ user.avatar.url }}" alt="user avatar">
          <h3 class="col-12">{{ user.username }}</h3>
          <p class="col-12">{{ user.email }}</p>
        </div>

        <div class="col-4" id="stats">
          <h3 class="col-12">{% translate "Stats" %}</h3>
          <div class="col-12">
            <p>{% translate "Friend count" %}: {{ stats.friends }}</p>
            <p>{% translate "Match count" %}: {{ stats.match_count }}</p>
            <p>{% translate "Win rate" %}: {{ stats.winrate }}</p>
            <p>{% translate "Wins" %}: {{ stats.wins }}</p>
            <p>{% translate "Losses" %}: {{ stats.losses }}</p>
          </div>
        </div>
        <div class="col-4 mr-3">
          {% if not user.verified_email %}
          <li>{% translate "Email not verified" %}</li>
          <button class="button mb-2" id="resend-verification">{% translate "Resend verification email" %}</button>
          {% endif %}
          {% if user.has_2fa %}
          <button class="button mb-2" id="toggle-2fa" {% if not user.verified_email %} disabled {% endif %}>
            {% translate "Disable Two-Factor Authentication" %}
          </button>
          {% else %}
          <button class="button mb-2" id="toggle-2fa" {% if not user.verified_email %} disabled {% endif %}>
            {% translate "Enable Two-Factor Authentication" %}
          </button>
          {% endif %}
          <button class="button mb-2" id="edit-profile" onclick="window.global.pageManager.load('edit-profile')">
              {% translate "Edit Profile" %}
          </button>
          <button class="button mb-2" id="friendlist" onclick="window.global.pageManager.load('friendlist')">
              {% translate "Friendlist" %}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mh-100">
    <h3 class="mb-3 text-center gold-text">{% translate "Matches" %}</h3>
    <div style="overflow-y: scroll; max-height:93%;">
        {% for match in stats.matches %}
          <div class="match justify-content-between">
            <div class="d-flex flex-column">
                <h5><a href="/user?id={{ match.opponent_id }}">{{ match.opponent }}</a></h5>
                <p>{{ match.date }}</p>
            </div>
              <div class="d-flex flex-column align-items-end mr-2">
                  {{ match.score }}
                <p>{{ match.result }}</p>
              </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>