{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
<div id="room-container" class="room-container">
  {% if current_room %}
      <span style="display: none" id="room-id">{{ current_room.id }}</span>
      <h2>
        {{ current_room.name }}
        {% if not current_room.is_direct %}
          <h4><pre>{% translate "Room code" %}: {{ current_room.code }}</pre></h4>
        {% endif %}
      </h2>
      {% if not current_room.is_direct %}
      <button id="leave-room">{% translate "Leave room" %}</button>
      {% endif %}
      <div id="chat-log" class="messages-area">
        {% for message in current_room.messages %}
          <div class="message {% if forloop.counter|divisibleby:2 %} one {% else %} two {% endif %}">
            <span class="timestamp">{{ message.created_at }}</span>
            <a class="username" href="/user?id={{ message.sender_id }}">{{ message.sender }}:</a>
            <span class="content">{{ message.content }}</span>
          </div>
        {% endfor %}
      </div>
      <div id="chat-input-box" class="sender-area">
        <div class="input-place">
          <input type="text" class="send-input" id="chat-input" placeholder="{% translate 'Type your message here' %}">
          <div class="send" id="send-message">
				    <svg class="send-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path fill="#6B6C7B" d="M481.508,210.336L68.414,38.926c-17.403-7.222-37.064-4.045-51.309,8.287C2.86,59.547-3.098,78.551,1.558,96.808 L38.327,241h180.026c8.284,0,15.001,6.716,15.001,15.001c0,8.284-6.716,15.001-15.001,15.001H38.327L1.558,415.193 c-4.656,18.258,1.301,37.262,15.547,49.595c14.274,12.357,33.937,15.495,51.31,8.287l413.094-171.409 C500.317,293.862,512,276.364,512,256.001C512,235.638,500.317,218.139,481.508,210.336z"></path></g></g></svg>
        	</div>
          {% if current_room.is_direct %}
            <button id="game-invite">{% translate "Invite to game" %}</button>
          {% endif %}
        </div>
      </div>
    {% else %}
      <h2>{% translate "Select a chat to start a conversation" %}</h2>
    {% endif %}
</div>