{% load static %}

<link rel="stylesheet" href="{% static 'css/settings.css' %}">
<button class="settings-button secondary-box">
  <img class="settings-img paint-pallete-svg" src={% static "svg/paint_palette.svg" %} alt="paint">
  THEMES
</button>
<button class="settings-button primary-box">
  <img class="settings-img profile-icon-svg" src={% static "svg/profile_icon.svg" %} alt="profile">
  PROFILE
</button>"
<button class="settings-button secondary-box">
  <img class="settings-img paint-pallete-svg" src={% static "svg/paint_palette.svg" %} alt="paint">
  MATCH
</button>