{% load i18n %}
{% load static %}

<form enctype="multipart/form-data" action="tournament">
    {% csrf_token %}
    <label for="player1">{% translate "player1" %}</label>
    <input type="text" name="player1" id="player1">
    
    <label for="player2">{% translate "player1" %}</label>
    <input type="text" name="player2" id="player2">
    
    <label for="player3">{% translate "player3" %}</label>
    <input type="text" name="player3" id="player3">
    
    <label for="player4">{% translate "player4" %}</label>
    <input type="text" name="player4" id="player4">
    
    <button type="submit">{% translate "Start Tournament" %}</button>
</form>