{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">
<h1>{% translate "Profile" %}</h1>
<div id="profile-page" class="box">
  <span></span>
  <ul class="content">
    <div class="user-email">
      <li id="user_id" hidden>{{ user.id }}</li>
      <li id="block_id" hidden>{{ block.id }}</li>
      <li id="friendship_id" hidden>{{ friend.id }}</li>
      <li>
        <img style="max-width: 150px; max-height: 150px" src="{{ user.avatar.url }}" alt="user avatar">
      </li>
      <li>{% translate "Username" %}: {{ user.username }}</li>
    </div>
    <div class="verification">
      {% if is_not_friend %}
        <button class="button" id="friend-user">{% translate "Add friend" %}</button>
      {% else %}
        <button class="button" id="unfriend-user">{% translate "Remove friend" %}</button>
      {% endif %}
      {% if is_not_blocked %}
        <button class="button" id="block-user">{% translate "Block User" %}</button>
      {% else %}
        <button class="button" id="unblock-user">{% translate "Unblock User" %}</button>
      {% endif %}
    </div>
  </ul>
</div>
