{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">

<span id="user_id" hidden>{{ user.id }}</span>
<span id="block_id" hidden>{{ block.id }}</span>
<span id="friendship_id" hidden>{{ friend.id }}</span>

<div class="row h-100">
  <div class="col-3"></div>
  <div class="col-6 align-content-center">
    <h1>{% translate "Profile" %}</h1>
    <div id="profile-page" class="box">
      <span></span>
      <div class="content">
        <div class="col-6">
          <div class="col-12">
            {% if online %}
              <div>
                  <div class="green-dot"></div>
                  <img class="profile-picture" src="{{ user.avatar.url }}" alt="user avatar">
              </div>
            {% else %}
              <img class="profile-picture" src="{{ user.avatar.url }}" alt="user avatar">
            {% endif %}
          </div>
          <h3 class="col-12 fixed-bottom w-50 text-center">{{ user.username }}</h3>
        </div>
        <div class="col-6">
          {% if is_not_friend %}
              {% if is_not_blocked %}
                <button class="button col-12 mb-2" id="friend-user">{% translate "Add friend" %}</button>
                {% else %}
                    <button class="button col-12 mb-2 " id="friend-user" disabled><del>{% translate "Add friend" %}</del></button>
              {% endif %}
          {% else %}
            <button class="button col-12 mb-2" id="unfriend-user">{% translate "Remove friend" %}</button>
          {% endif %}
          {% if is_not_blocked %}
            <button class="button col-12 mb-2" id="block-user">{% translate "Block User" %}</button>
          {% else %}
            <button class="button col-12 mb-2" id="unblock-user">{% translate "Unblock User" %}</button>
          {% endif %}
          <button class="button col-12" id="game-invite">{% translate "Invite to game" %}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>

