{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">

<span id="user_id" hidden>{{ user.id }}</span>
<span id="block_id" hidden>{{ block.id }}</span>
<span id="friendship_id" hidden>{{ friend.id }}</span>

<div class="row h-100">
  <div class="col-2"></div>
  <div class="col-6 align-content-center">
    <h1>{% translate "Profile" %}</h1>
    <div id="profile-page" class="box">
      <span></span>
      <div class="content">
        <div class="col-4" id="user">
            {% if online %}
              <div>
                  <div class="green-dot"></div>
                  <img class="profile-picture" src="{{ user.avatar.url }}" alt="user avatar">
              </div>
            {% else %}
              <img class="profile-picture" src="{{ user.avatar.url }}" alt="user avatar">
            {% endif %}
            <h3 class="fixed-bottom text-left pl-1">{{ user.username }}</h3>
        </div>
        <div class="col-4" id="stats">
          <h3 class="col-12">{% translate "Stats" %}</h3>
          <div class="col-12">
            <p>{% translate "Friend count" %}: {{ stats.friends }}</p>
            <p>{% translate "Match count" %}: {{ stats.match_count }}</p>
            <p>{% translate "Win rate" %}: {{ stats.winrate }}</p>
            <p>{% translate "Wins" %}: {{ stats.wins }}</p>
            <p>{% translate "Losses" %}: {{ stats.losses }}</p>
          </div>
        </div>
        <div class="col-4" id="actions">
          {% if is_not_friend %}
              {% if is_not_blocked %}
                <button class="button col-12 mb-2" id="friend-user">{% translate "Add friend" %}</button>
                {% else %}
                    <button class="button col-12 mb-2 " id="friend-user" disabled><del>{% translate "Add friend" %}</del></button>
              {% endif %}
          {% else %}
            <button class="button col-12 mb-2" id="unfriend-user">{% translate "Remove friend" %}</button>
          {% endif %}
          {% if is_not_blocked %}
            <button class="button col-12 mb-2" id="block-user">{% translate "Block User" %}</button>
          {% else %}
            <button class="button col-12 mb-2" id="unblock-user">{% translate "Unblock User" %}</button>
          {% endif %}
          <button class="button col-12" id="game-invite">{% translate "Invite to game" %}</button>
        </div>
      </div>
    </div>
  </div>
    {% for match in stats.matches %}
      <div class="match">
        <h3>{{ match.opponent }}</h3>
        <p>{{ match.date }}</p>
        <p>{{ match.result }}</p>
        <p>{{ match.score }}</p>
      </div>
    {% endfor %}
  <div class="col-3 mh-100">
    <h3 class="mb-3 text-center gold-text">{% translate "Matches" %}</h3>
    <div style="overflow-y: scroll; max-height:93%;">
        {% for match in stats.matches %}
          <div class="match justify-content-between">
            <div class="d-flex flex-column">
                <h5>{{ match.opponent }}</h5>
                <p>{{ match.date }}</p>
            </div>
              <div class="d-flex flex-column align-items-end mr-2">
                  {{ match.score }}
                <p>{{ match.result }}</p>
              </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
