{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<h2>{% translate "Sign in to Neon Pong" %}</h2>
<div id="login-form">
  <label for="username">{% translate "Username" %}:</label>
  <input type="text" id="username" required>
  <label for="password">{% translate "Password" %}:</label>
  <input type="password" id="password" required>
  <button id="submit">{% translate "Sign in" %}</button>
  <button id="oauth">{% translate "Sign in with 42" %}</button>

  <button onclick="window.global.pageManager.load('auth/register')">{% translate "Create a new account" %}</button>
</div>
