{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div id="register-form" class="sign-input">
  <div class="input-container">
    <input class="input-container" type="text" id="username" required>
    <label for="username">{% translate "Username" %}</label>
  </div>
  <div class="input-container">
    <input class="input-container" type="email" id="email" required>
    <label for="email">{% translate "Email" %}</label>
  </div>
  <div class="input-container">
    <input class="input-container" type="password" id="password" required>
    <label for="password">{% translate "Password" %}</label>
  </div>
  <div class="input-container">
    <input class="input-container" type="password" id="confirm-password" required>
    <label for="confirm-password">{% translate "Confirm password" %}</label>
  </div>
  <button id="submit" class="btn">{% translate "Register" %}</button>
</div>
